.adminDiv {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.adminUl {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.adminLi {
    border: 1px solid orange;
    width: 450px;
    border-radius: 10px;
    margin: 15px;
    list-style: none;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }


    & #imgAdminId {
        max-width: 50%;
        max-height: 100%;
        width: auto;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    & p {
        margin: 10px;
        border: 2px solid;
        border-color: black black orange black;
        padding: 2px;
    }

    & button {
        border: 2px solid orange;
        color: orange;
        margin-top: 10px;
    }

    & #editCss,
    #deleteCss {
        border: 2px solid orange;
        color: white;
        background: black;
        margin: 10px;
        &:hover{
            box-shadow: 0 0 10px rgba(255, 165, 0, 1);
        }
    }
}

.SearchBtnCss {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    & #searchAdminTxtİD {
        margin-right: 10px;
        border: 2px solid orange;
        background: white;
        color: orange;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
        width: 350px;
        border-radius: 15px;
        padding: 5px;
        &::placeholder{
            color: orange;
            text-align: center;
        }
        &:hover{
            border: 2px solid #3C97BF;
        }
    }


    & #basketButton{
        background-image: url('../İmages/basket.png');
        background-size: cover;
        padding: 15px;
        background-position: center;
        margin-left: 10px;
        font-size: 15px;
        border: 2px solid orange;
        color: white;
        text-align: center;
        &:hover{
            border: 2px solid orange;
            box-shadow: 0 0 10px rgba(255, 255, 255, 1);
        }
    }

    & #addCssId{
        margin: 10px;
        border: 2px solid orange;
        background: white;
        color: orange;
        font-style: italic;
        width: 100px;
        text-align: center;
        &:hover{
            border: 2px solid orange;
            box-shadow: 0 0 10px rgba(255, 255, 255, 1);
        }

    }
}






.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    cursor: pointer;
    user-select: none;
}


.custom-select .ant-select-selector {
    color: white;
    border: 2px solid orange;
}

.custom-select .ant-select-selection-placeholder,
.custom-select .ant-select-selection-item {
    color: orange;
}

.custom-select .ant-select-arrow {
    color: orange;
}

.custom-select {
    width: 200px;
}

.custom-dropdown {
    border: 1px solid orange;
}

.select-items {
    background-color: orange !important;
    color: white !important;
}

.custom-select .rc-select-dropdown {
    background-color: orange !important;
}

.custom-select .rc-select-dropdown-menu {
    margin: 10px;
    background-color: white !important;
}




.ReactModal__Content {
    background-color: black !important;

}


.blackOverlay {
    background-color: rgba(0, 0, 0, 0.8) !important;
}




.modalObjDivCss {
    width: auto;
    height: auto;
    overflow-y: auto;
    max-height: 100vh;
    max-width: 100vw;
    padding-bottom: 20px;
}



.modalObjUl{
    display: flex;
    flex-direction: column;
    align-items: center;


}
.modalLi {
    list-style: none;
    border: 1px solid orange;
    border-radius: 10px;
    margin: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.liDivUserCss {
    width: 40%;
    text-align: left;
    margin-right:15px ;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

.productCssMainDiv {
    display: flex;
    align-items: center;
    color: white;
    margin: 20px;
    border: 2px solid orange;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

#imgProductId {
    max-width: 50%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.liDivProductCss {
    width: 60%;
    text-align: left;
    & p{
        border: 1px solid;
        border-color: black black orange black;
        border-radius: 5px;
        margin: 15px;
        padding: 5px;
        text-align: center;
    }
}

#userH2Id {
    border: 2px dotted orange;
    border-radius: 10px;
    padding: 5px;
    color: white;
    text-align: center;
}

#objPId {
    border: 1px solid;
    border-color: black black orange black;
    color: white;
    margin: 10px;
}

#modalOrdersExit {
    border: 1px solid orange;
    background: black;
    color: white;
    width: 150px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

#modalOrdersExit:hover {
    box-shadow: 0 0 10px rgba(255, 165, 0, 1);
}


.modalDivCss{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    & #modalElementsId{
        margin: 10px;
    }
    & Input{
        margin: 10px;
        border: 2px solid orange;
        background: black;
        &:hover{
            border: 2px solid orange;
            box-shadow: 0 0 10px rgba(255, 165, 0, 1);
        }
        &::placeholder{
            font-style: italic;
            color: white;
            text-align: center;
        }
    }
    & #editExitBtn{
        margin: 10px;
        border: 2px solid orange;
        background: black;
        color: white;
        font-style: italic;
        width: 100px;
        text-align: center;
        font-size: 15px;
        &:hover{
            box-shadow: 0 0 10px rgba(255, 165, 0, 1);
        }
    }
}

.modalEditCss{
    width: auto;
    height: auto;
    max-height: 100vh;
    max-width: 100vw;
}




.modalAdminDivCss{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    & .FormAdminCss{
        text-align: center;
        padding: 20px;
        border-radius:10px ;
        border: 1px solid orange;
        box-shadow: 0 0 10px rgba(0,0,0,0.9);
        background:black;
        margin:0 auto;
        float:right;
        & #productNameCss, #productDescriptionCss, #productPriceCss, #storeNameCss,#storeAddressCss,#productImageCss{
            color: white;
            font-size: 13px;
            margin-right: 50px;
        }

    }

    & #addExitBtn{
        border: 2px solid orange;
        background: black;
        color: white;
        margin-top: 10px;
        width: 150px;
        margin-left: 15px;
        &:hover{
            box-shadow: 0 0 10px rgba(255, 165, 0, 1);
        }
    }


}