.adminDiv{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}
.adminUl{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.adminLi{
    border: 1px solid orange;
    width: 350px;
    border-radius: 10px;
    margin: 15px;
    list-style: none;
    text-align: center;
    display: inline-block;
    flex: 0 0 calc(33.33% - 30px);
    box-sizing: border-box;
    padding: 20px;
    & p{
        margin: 10px;
    }

    & Button{
        margin: 10px;
    }
}

.SearchBtnCss {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    & #searchAdminTxtİD {
        margin-right: 10px;
        border: 2px solid orange;
        background: white;
        color: orange;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
        width: 350px;
        border-radius: 15px;
        padding: 5px;
        &::placeholder{
            color: orange;
            text-align: center;
        }
        &:hover{
            border: 2px solid #3C97BF;
        }
    }


    & button{
        background-image: url('../İmages/basket.png');
        background-size: cover;
        padding: 15px;
        background-position: center;
        margin-left: 10px;
        font-size: 15px;
        border: 2px solid orange;
        color: white;
        text-align: center;
    }
}




.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    cursor: pointer;
    user-select: none;
}


.custom-select .ant-select-selector {
    color: white;
    border: 2px solid orange;
}

.custom-select .ant-select-selection-placeholder,
.custom-select .ant-select-selection-item {
    color: orange;
}

.custom-select .ant-select-arrow {
    color: orange;
}

.custom-select {
    width: 200px;
}

.custom-dropdown {
    border: 1px solid orange;
}

.select-items {
    background-color: orange !important;
    color: white !important;
}

.custom-select .rc-select-dropdown {
    background-color: orange !important;
}

.custom-select .rc-select-dropdown-menu {
    margin: 10px;
    background-color: white !important;
}

#imgAdminId,#imgProductId{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    object-fit: cover;
    overflow: auto;
}

#editCss,#deleteCss{
    border: 2px solid orange;
    color: orange;
    margin: 10px;
}



.modalObjDivCss{
    margin-top: 30px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 30px;
    text-align: center;
    & Button{
        margin: 10px;
    }
}


.modalDivCss{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    & #modalElementsId{
        margin: 10px;
    }
    & Input,& Button{
        margin: 10px;
    }
}

#prodId{
    border: 1px solid orange;
    border-radius: 10px;
    margin: 20px;
}

#objPId{
    border: 1px solid;
    border-color:white white orange white;
}


#userH2Id{
    border: 2px dotted orange;
    border-radius: 10px;
    padding:5px;
}
.modalDiv{
    overflow-y: scroll;
}
.modalUl{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.modalLi{
    border: 1px solid orange;
    width: 350px;
    border-radius: 10px;
    margin: 15px;
    list-style: none;
    text-align: center;
    display: inline-block;
    flex: 0 0 calc(33.33% - 30px);
    box-sizing: border-box;
    padding: 20px;
    & p{
        margin: 10px;
    }
}