.GoodsCssCompDiv {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.GoodsCssCompUl {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.GoodsCssCompLi {
    border: 1px solid orange;
    width: 350px;
    border-radius: 10px;
    margin: 15px;
    list-style: none;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;

    &:hover {
    transform: scale(1.05);}

    & #imgGoodId {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    & p{
        border: 2px solid;
        border-radius: 5px;
        border-color: black black orange black;
        padding: 2px;
        margin-bottom: 10px;
    }

    & #nameModalClick:hover{
        box-shadow: 0 0 10px rgba(255, 165, 0, 1);
    }


    #addGoodBtnİd {
        border: 2px solid orange;
        color: white;
        background: black;
        margin-top: 10px;
        &:hover{
            box-shadow: 0 0 10px rgba(255, 165, 0, 1);
        }
    }
}

.SearchGoodBtnCss {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;

    #searchTxtİD {
        margin-right: 10px;
        border: 2px solid orange;
        background: white;
        color: orange;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
        width: 350px;
        border-radius: 15px;
        padding: 5px;

        &::placeholder {
            color: orange;
            text-align: center;
        }

        &:hover {
            border: 2px solid #3C97BF;
        }
    }
}




.ReactModal__Overlay {
    background-color: black !important;
}


.modalDivCss {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pTagDiv{
    margin-top: 50px;
    & #modalElementsId{
        margin: 10px;
        color: white;
        border: 1px dotted orange;
        border-radius: 10px;
        padding: 10px;
    }
}

#imgModalId {
    max-width: 50%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 2px solid orange;
    box-shadow: 0 0 10px rgba(255, 165, 0, 1);



}



#modalBtnElementsId {
    border: 1px solid orange;
    background: black;
    color: white;
    margin-top: 10px;
    &:hover{
        box-shadow: 0 0 10px rgba(255, 165, 0, 1);
    }

}
